{erl_opts, [debug_info,
            warnings_as_errors,
            debug_info,
            report,
            verbose,
            warn_deprecated_function,
            warn_deprecated_type,
            %warn_export_all,
            warn_export_vars,
            warn_obsolete_guard,
            warn_unused_import
           ]}.

{plugins, [rebar3_hex]}.

{pre_hooks, [{"(linux|darwin|solaris)", compile, "make -C c_src"},
             {"(freebsd)", compile, "gmake -C c_src"}]}.
{post_hooks, [{"(linux|darwin|solaris)", clean, "make -C c_src clean"},
              {"(freebsd)", clean, "gmake -C c_src clean"}]}.

{relx, [{release, {"ejq", "0.0.1"}, [ejq]},
        {dev_mode, false},
        {include_erts, true},
        {extended_start_script, true}
       ]
}.

{profiles, [{test, [{erl_opts, [warnings_as_errors,
                                debug_info,
                                verbose,
                                warn_deprecated_function,
                                warn_deprecated_type,
                                warn_export_vars,
                                warn_obsolete_guard,
                                warn_unused_import,
                                nowarn_export_all
                               ]},
                    {relx, [{dev_mode, true},
                            {include_erts, true},
                            {include_src, true}
                           ]},
                    {deps, [{meck, "0.8.13"}
                           ]}
                   ]}
           ]
}.
